.Quiz {
	padding-top: 30px; 
	margin: auto; 
	text-align: center; 
    width: 100%;
}

.Quiz button {
	display: block;
	margin: 20px auto;
	background-color: #efd3d7;
    outline: none;
    cursor: pointer;
    border: 1px solid #8e9aaf;
    color: black;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px;
    width: 50%;
    border-radius: 0.25rem;
}

.Quiz button:hover {
    background-color: #dee2ff;
    border: 1px solid #8e9aaf;
    color: black;
}