.Quiz {
	padding-top: 30px; 
	margin: auto; 
	text-align: center; 
    width: 100%;
}

.Quiz button {
	display: block;
	margin: 20px auto;
	background-color: #efefef;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px;
    box-shadow: 1px 1px 1px black;
    width: 50%;
}

.Quiz button:hover {
    background-color: darkgray;
    border: 1px solid black;
    color: black;
}