.Answer {
	display: block;
	background-color: white;
    cursor: pointer;
    color: black;
    font-family: inherit;
    font-size: 1em;
    border: 1px solid #efefef;
    margin: 10px auto;
    background-color: #efefef;
    height: 35px;
    width: 60%;
}
.Answer:hover{
    color: grey;
    background-color: white; 
}

@media (min-width: 600px){
	.Answer{
        padding: 5px 50px;
	}
}