.Result img {
    height: 100px;
}

.Result button {
	display: block;
	margin: 20px auto;
	background-color: #efefef;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    font-family: inherit;
    font-size: 1em;
    padding: 5px 10px;
}

.Result button:hover, .OrderButton:active {
    background-color: darkgray;
    border: 1px solid black;
    color: black;
}